

table.sortable thead tr .sort-asc {
    background-image: url(../img/asc.png);
}

table.sortable thead tr .sort-des {
    background-image: url(../img/desc.png);
}

table.sortable thead tr th {
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
    background-image: url(../img/bg.png);
    padding-left: 20px; /* Miraculous. Keeps background image away from header text. */
    padding-bottom: 30px;
    text-decoration: underline;
}
